@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,300;0,500;1,300&family=Righteous&display=swap');

body{
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 50px 10%;
}

header{
    font-family: 'Righteous', cursive;
}

.icons{
    height: 20px;
}

a{
    text-decoration: none;
    color: #0568FF;
}

a:hover{
    text-decoration: underline;
}

.pic{
    height: 200px;
    right: 70px;
}

ul{
    list-style: none;
}

.navmenu{
    font-family: 'Righteous', cursive;
    display: inline-block;
    border: 2px #1593CB solid;
    font-size: 2.5em;
    border-radius: 3px;
}

.navmenu a{
    color: #1593CB;
    padding: 0px 6px;
}

.navmenu a:hover{
    background-color: #1593CB;
    color: aliceblue;
}

h2{
    color: #0568FF;
}

header{
    color: #1593CB;
}

strong{
    color: #0E4194;
}

h3{
    color: #0E4194;
}

.data b{
    color: #1593CB;
}
